In [2]:
import pandas as pd

In [3]:
import pandas as pd

# Read the files into two dataframes.
df1 = pd.read_excel('Pizza_Case.xlsx')
df2 = pd.read_excel('Pizza_Cust.xlsx')

# Merge the two dataframes, using _ID column as key
df3 = pd.merge(df1, df2, on = 'Customer_ID')
#df3.set_index('_CASE_KEY', inplace = True)

# Write it to a new CSV file
df3.to_csv('1.xlsx')

In [4]:
df3 = pd.read_csv('1.xlsx')

In [5]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1998 entries, 0 to 1997
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             1998 non-null   int64
 1   _CASE_KEY              1998 non-null   int64
 2   Variant                1998 non-null   int64
 3   Customer_ID            1998 non-null   int64
 4   Revenue                1998 non-null   int64
 5   Costs                  1998 non-null   int64
 6   Pizza Type             1998 non-null   object
 7   Pizza Size             1998 non-null   object
 8   Customer Satisfaction  1998 non-null   int64
 9   Cost Factor            1998 non-null   object
 10  Weekday                1998 non-null   object
 11  Daytime                1998 non-null   int64
 12  Distribution Channel   1998 non-null   object
 13  Customer Location      1998 non-null   object
 14  Customer Type          1998 non-null   object
 15  Customer_Location      1998 non-null   object
 16  Customer_Type          1998 non-null   object
dtypes: int64(8), object(9)
memory usage: 265.5+ KB

In [6]:
df4 = pd.read_excel('Pizza_Event.xlsx')

In [7]:
df5 = pd.merge(df3, df4, on = '_CASE_KEY')
#df5.set_index('_CASE_KEY', inplace = True)

# Write it to a new CSV file
df5.to_csv('final.csv')

In [8]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15809 entries, 0 to 15808
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             15809 non-null  int64
 1   _CASE_KEY              15809 non-null  int64
 2   Variant                15809 non-null  int64
 3   Customer_ID            15809 non-null  int64
 4   Revenue                15809 non-null  int64
 5   Costs                  15809 non-null  int64
 6   Pizza Type             15809 non-null  object
 7   Pizza Size             15809 non-null  object
 8   Customer Satisfaction  15809 non-null  int64
 9   Cost Factor            15809 non-null  object
 10  Weekday                15809 non-null  object
 11  Daytime                15809 non-null  int64
 12  Distribution Channel   15809 non-null  object
 13  Customer Location      15809 non-null  object
 14  Customer Type          15809 non-null  object
 15  Customer_Location      15809 non-null  object
 16  Customer_Type          15809 non-null  object
 17  SORTING                15809 non-null  int64
 18  EVENTTIME              15809 non-null  datetime64[ns]
 19  ACTIVITY_EN            15809 non-null  object
 20  Automation             15809 non-null  object
dtypes: datetime64[ns](1), int64(9), object(11)
memory usage: 2.7+ MB

In [10]:
df5

,Unnamed: 0,_CASE_KEY,Variant,Customer_ID,Revenue,Costs,Pizza Type,Pizza Size,Customer Satisfaction,Cost Factor,...,Daytime,Distribution Channel,Customer Location,Customer Type,Customer_Location,Customer_Type,SORTING,EVENTTIME,ACTIVITY_EN,Automation
0,0,895,1,175,17,13,Funghi,Medium,3,Chef 2,...,14,Feedera SE,Munich District One,Student,Munich District Five,Adult,7169,2018-03-29 11:01:58,Order by phone,A
1,0,895,1,175,17,13,Funghi,Medium,3,Chef 2,...,14,Feedera SE,Munich District One,Student,Munich District Five,Adult,7170,2018-03-29 11:03:58,Start preparing pizza,A
2,0,895,1,175,17,13,Funghi,Medium,3,Chef 2,...,14,Feedera SE,Munich District One,Student,Munich District Five,Adult,7171,2018-03-29 11:06:58,Start baking pizza,A
3,0,895,1,175,17,13,Funghi,Medium,3,Chef 2,...,14,Feedera SE,Munich District One,Student,Munich District Five,Adult,7172,2018-03-29 11:13:58,Baking pizza ready,B
4,0,895,1,175,17,13,Funghi,Medium,3,Chef 2,...,14,Feedera SE,Munich District One,Student,Munich District Five,Adult,7173,2018-03-29 11:18:58,Plan route,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15804,1997,1978,4,256,13,37,Veggie,Medium,2,Waiter,...,13,Feedera SE,Munich District Three,Student,Munich District One,Student,15636,2018-06-17 15:27:34,Baking pizza ready,A
15805,1997,1978,4,256,13,37,Veggie,Medium,2,Waiter,...,13,Feedera SE,Munich District Three,Student,Munich District One,Student,15637,2018-06-17 15:31:34,Plan route,B
15806,1997,1978,4,256,13,37,Veggie,Medium,2,Waiter,...,13,Feedera SE,Munich District Three,Student,Munich District One,Student,15638,2018-06-17 15:34:34,Departure pizza,A
15807,1997,1978,4,256,13,37,Veggie,Medium,2,Waiter,...,13,Feedera SE,Munich District Three,Student,Munich District One,Student,15639,2018-06-17 15:40:34,Pizza arrives at customer,A
15808,1997,1978,4,256,13,37,Veggie,Medium,2,Waiter,...,13,Feedera SE,Munich District Three,Student,Munich District One,Student,15640,2018-06-17 16:18:34,Payment customer,A

df5

In [11]:
df['column name'] = df['column name'].astype(np.int64)

NameError: name 'df' is not defined

In [12]:
df5.isnull().sum()

Unnamed: 0               0
_CASE_KEY                0
Variant                  0
Customer_ID              0
Revenue                  0
Costs                    0
Pizza Type               0
Pizza Size               0
Customer Satisfaction    0
Cost Factor              0
Weekday                  0
Daytime                  0
Distribution Channel     0
Customer Location        0
Customer Type            0
Customer_Location        0
Customer_Type            0
SORTING                  0
EVENTTIME                0
ACTIVITY_EN              0
Automation               0
dtype: int64

In [13]:
df5.columns

Index(['Unnamed: 0', '_CASE_KEY', 'Variant', 'Customer_ID', 'Revenue', 'Costs',
       'Pizza Type', 'Pizza Size', 'Customer Satisfaction', 'Cost Factor',
       'Weekday', 'Daytime', 'Distribution Channel', 'Customer Location',
       'Customer Type', 'Customer_Location', 'Customer_Type', 'SORTING',
       'EVENTTIME', 'ACTIVITY_EN', 'Automation'],
      dtype='object')

In [42]:
df5['_CASE_KEY'].where(df5['Variant'] == 1).nunique()

537

df5

In [43]:
df5['_CASE_KEY'].nunique()

AttributeError: 'int' object has no attribute 'head'

In [44]:
df5['Variant'].nunique()

8

#####

In [47]:
df5['ACTIVITY_EN'].head(20)

0                Order by phone
1         Start preparing pizza
2            Start baking pizza
3            Baking pizza ready
4                    Plan route
5               Departure pizza
6     Pizza arrives at customer
7              Payment customer
8                Order by phone
9         Start preparing pizza
10           Start baking pizza
11           Baking pizza ready
12                   Plan route
13              Departure pizza
14             Payment customer
15    Pizza arrives at customer
16               Order by phone
17        Start preparing pizza
18           Start baking pizza
19           Baking pizza ready
Name: ACTIVITY_EN, dtype: object

In [51]:
df5[0::7]

,Unnamed: 0,_CASE_KEY,Variant,Customer_ID,Revenue,Costs,Pizza Type,Pizza Size,Customer Satisfaction,Cost Factor,...,Daytime,Distribution Channel,Customer Location,Customer Type,Customer_Location,Customer_Type,SORTING,EVENTTIME,ACTIVITY_EN,Automation
0,0,895,1,175,17,13,Funghi,Medium,3,Chef 2,...,14,Feedera SE,Munich District One,Student,Munich District Five,Adult,7169,2018-03-29 11:01:58,Order by phone,A
7,0,895,1,175,17,13,Funghi,Medium,3,Chef 2,...,14,Feedera SE,Munich District One,Student,Munich District Five,Adult,7176,2018-03-29 12:04:58,Payment customer,A
14,1,1644,1,175,21,5,Magherita,Large,2,Ingredients,...,19,BestOrder Inc.,Munich District Three,Teenager,Munich District Five,Adult,13050,2018-03-20 12:38:05,Payment customer,A
21,2,1196,1,175,37,7,Funghi,Large,4,Chef 2,...,19,BestOrder Inc.,Munich District Three,Student,Munich District Five,Adult,9518,2018-04-26 08:38:22,Plan route,B
28,4,426,1,13,19,10,Salami,Small,3,Chef 2,...,13,Deliver Now Holding,Munich District One,Student,Munich District Three,Teenager,3451,2018-04-25 07:49:28,Departure pizza,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15778,1994,1359,4,288,11,7,Funghi,Large,0,Chef 2,...,19,Feedera SE,Munich District One,Student,Munich District One,Student,10825,2018-02-20 06:29:33,Payment customer,A
15785,1995,884,4,288,5,10,Calzone,Medium,2,Chef 1,...,12,Deliver Now Holding,Munich District One,Adult,Munich District One,Student,7105,2018-06-08 03:31:09,Plan route,A
15792,1996,633,4,256,36,47,Paprika,Large,0,Waiter,...,18,Deliver Now Holding,Munich District Three,Student,Munich District One,Student,5081,2018-05-03 19:36:51,Start preparing pizza,A
15799,1997,1978,4,256,13,37,Veggie,Medium,2,Waiter,...,13,Feedera SE,Munich District Three,Student,Munich District One,Student,15631,2018-06-17 15:07:34,Order by phone,A
15806,1997,1978,4,256,13,37,Veggie,Medium,2,Waiter,...,13,Feedera SE,Munich District Three,Student,Munich District One,Student,15638,2018-06-17 15:34:34,Departure pizza,A